
form(id='signup-form',action="/movies", method="post",role='form')
  div(class="field")
    label name
    br
    input(type='text',name='name')
  div(class="field")
    label age
    br
    input(type='text',name='age')
  div(class="actions") 
    input(type='submit',value='Submit')  